
  
  /* Carousel styling */
  .carousel-container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
   
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
  
  
  /* Carousel Caption Styling */
  .carousel-caption {
  background-color: rgba(183, 159, 248, 0.5); /* Semi-transparent black background */
  padding: 20px 20px;
  border-radius: 10px;
  bottom: 20%; /* Adjust vertical position */
  left: 70%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  text-align: center;
  width: 50%; /* Adjust width as needed */
  max-width: 500px; /* Maximum width */
  }
  
  .carousel-caption h3 {
  font-size: 2rem; /* Adjust heading size */
  font-weight: bold;
  background-color: #ff4500;
  color:  #fff; /* White text */
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
  }
  
  .carousel-caption p {
  font-size: 1.2rem; /* Adjust paragraph size */
  color: #fff; /* White text */
  margin-bottom: 0;
  }
    /* Carousel Image Styling */
  .carousel-image {
  width: 100%; /* Full width of the container */
  height: 400px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  
  }
  }
  
  /* Animation Styles */
  .motion-header {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .motion-carousel {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  
  /* Keyframe animation for the carousel */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
 
  

  
  



 
  
  
  
  
  
  
  
  
  