.footer {

    background-color: #2c3e50;

    color: #ecf0f1;
    padding: 2rem 0;
    margin-top: 2rem;
    margin: 20px;
    border-radius: 20px;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
   
    padding: 0 1rem;
  }
  
  .footer-section {
    margin-bottom: 0.5rem;
  }
  
  .footer-section h4 {
    color: #f39c12;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .footer-section p, 
  .footer-section li {
    margin-bottom: 0.5rem;
    text-align: justify;
    line-height: 1.6;
  }
  
  .footer-section a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section a:hover {
    color: #f39c12;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .social-icons a {
    color: #ecf0f1;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #f39c12;
  }
  
  .footer-bottom {
    text-align: center;
    
 
  
  }
  
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
    
    .footer-section {
      text-align: center;
    }
    
    .social-icons {
      justify-content: center;
    }
  }